body{
     background-color: aliceblue;
}

.main{
    margin-top : 10px; 
}

h1{
    text-align: center;
    padding-top:  50px;
}

.center{
    text-align: center;
}

.btn-primary{
    margin-left: 20px;
}

.input_url{
    text-align: center;
}
